<?xml version="1.0" encoding="UTF-8"?>
 <web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4"> 
    <display-name>Cohse portlet</display-name>  
       
     <servlet>
        <servlet-name>KAIN Proxy</servlet-name>
        <servlet-class>sun.kain.KAINProxy</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value> </param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>allowClientCache</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>useRemoteCache</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>1</param-value>
        </init-param>
        </servlet>
    <servlet-mapping>
        <servlet-name>KAIN Proxy</servlet-name>
        <url-pattern>/kain/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
