/**
English: Copyright © 2007 Sun Microsystems, Inc.  All rights reserved. 
U.S. Government Rights - Commercial software.  Government users are
subject to the Sun Microsystems, Inc. standard license agreement and
applicable provisions of the FAR and its supplements.  Use is subject to
license terms.  Sun,  Sun Microsystems,  the Sun logo and  Java are
trademarks or registered trademarks of Sun Microsystems, Inc. in the
U.S. and other countries.

French: Copyright © 2007 Sun Microsystems, Inc. Tous droits
réservés.L'utilisation est soumise aux termes du contrat de licence.Sun,
 Sun Microsystems,  le logo Sun et  Java sont des marques de fabrique ou
des marques déposées de Sun Microsystems, Inc. aux Etats-Unis et dans
d'autres pays.
*/
/**
$Id: cohse.css,v 1.7 2007/05/30 18:22:58 horanb Exp $
*/

/*
 Link embelisshment styles
 */
.overlay{
	text-decoration:underline;
   background:#99CCFF;
}
.redunderline{
	border-bottom: thin dotted red;
}
.greybox{
	text-decoration:none;
	border-color:#bbb;
	border-right:thin solid #bbb;
	border-left:thin solid #bbb;
	border-top:thin solid #bbb;
	border-bottom:thin solid #bbb;
	background: #eee;
}
.greybox-portlet{
	text-decoration:none;
	border-color:#bbb;
	border-right:thin solid #bbb;
	border-left:thin solid #bbb;
	border-top:thin solid #bbb;
	border-bottom:thin solid #bbb;
	background: #bbb;
}
.blueunderline{
	border-bottom: medium ridge blue;
}
.blueunderlinedashed{
	border-bottom: thin dashed blue;
}

/*
COHSE Icon style
*/
.cohseIcon{
    border: none;
}

/*
 These are the style description for the linkbox items   
 */
.linkbox{
        background-color: #E6ECFF;
        border-style : solid;
        border: 1px solid #003399;
        margin: 0px;
        text-align: left;
        color: black;font: 10pt bold helvetica,arial;
        /*filter:alpha(opacity=90);
        -moz-opacity:.90;
        opacity:.90;*/
}
.closebutton{
        float: right;   
        border: 0px;
}

.title{
        background-color: navy; 
        font-size: large;
        color:white;
        padding:0px;
        margin:0px;
        padding-left:4px;
        text-transform:capitalize;
}
.description{
        text-align:justify;
        margin-left:6px;
        margin-right:6px;
        margin-bottom:5px;
}
.pageLink{
        text-align:left;
        margin-left:6px;
        margin-right:6px;
        margin-top:2px;
}
.heading{
        margin-left:6px;
        padding-left:0px;
        margin-top:10px;
        margin-bottom:10px;
        padding-top:0px;
        padding-bottom:0px;
        padding-right:0px;
        margin-right:6px;
        font-size: medium;
        font-weight:bold;
        text-align:left;
        color:navy;
}
.line{
        height:0px; 
        border:0px; 
        border-bottom:1px inset #003399;
        margin-top:10px;
        padding-top:0px;
        margin-bottom:0px;
        padding-bottom:0px;
}
ul.expand { 
    display: none;    
}
span.expand{
    color:blue;
}
span.expand:hover{
    text-decoration: underline;
}
span.summary { 
    display: none;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    text-transform:capitalize;
}
img.summary {
    margin-left:2px;
    width:12px;
    height:12px;
}

/*Creating the tabbed visualisation of the preferences menu*/
#tabContainer
{
    position: relative;
    margin-top: 5px;	
    height: 30px;
    font-size:14px;
    margin-left:5%;
    margin-right:5%;
}

#tabContainer .tabUnselected
{
    float: left;
    width: 100px;
    height: 24px;
    padding: 6px 0px 0px 0px;
    margin-left: 10px;	
    text-align: center;
    cursor: pointer;
    background: url("tab_unselected.gif") no-repeat;
}

#tabContainer .tabSelected
{
    float: left;
    width: 100px;
    height: 24px;
    margin-left: 10px;
    padding: 6px 0px 0px 0px;
    text-align: center;
    background: url("tab_selected.gif") no-repeat;
    font-weight: bold;
}

#tabBody
{
    position: relative;
    border: solid 1px #99CCFF;
}
